body{
    margin:0;
    padding:0;
    background:url(Images/Background.jpg);
    background-size:100%;
}

.box{
    width:550px;
    background:rgba(2,2,2,0.3);
    padding:40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    color:#EDF5E1;
    font-family: 'Century Gothic',sans-serif;
}

.box-img{
    border-radius: 3%;
    width:180px;
    height:240px;
}

.box h1{
    font-size:40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 90;
    text-align: justify;
}

.box p{
    text-align: justify;
}

ul{
    margin:0;
    padding:0;
}

.box li{
    display: inline-block;
    margin:20px;
    list-style:none;
}

.box li i{
    color: #EDF5E1;
    text-decoration: none;
    font-size: 20px;

}

