h1{
    color:#FEFFFF;
    text-align: center;
}
body{
    background-color:#222629;
}
p{
    color:#6B6E70;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}